<!-- Your account was successfully created. Please click the link below<br>
to confirm your email address and activate your account:
<div style="text-align:center">
<p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>
</div>

<p>
<br>
If you have question please contact use at hilman191025@gmail.com
</p> -->

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Verify Your Email</title>
  </head>
  
  <body style="margin: 0; padding: 0; sans-serif;font-weight: 300; font-stretch: normal; font-size: 14px; letter-spacing: .35px; background: #EFF3F6; color: #333333;">
    <table border="1" cellpadding="0" cellspacing="0" align="center" style="border: 0 none; border-collapse: separate; width: 720px;margin-top:50px;" width="720">
      <tbody>
        <tr  style="border: 0 none; border-collapse: separate; -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.04); -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.04); box-shadow: 0 3px 5px rgba(0,0,0,0.04);">
          <td style="border: 0 none; border-collapse: separate; vertical-align: middle;" valign="middle">
            <table  cellpadding="0" cellspacing="0" style="border: 0 none; border-collapse: separate; width: 100%;" width="100%">
              <tbody>
                <tr class="c-pekv9n" style="border: 0 none; border-collapse: separate; text-align: center;">
                  <td style="border: 0 none; border-collapse: separate; vertical-align: middle;" valign="middle">
                    <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: 0 none; border-collapse: separate; border-color: #E3E3E3; border-style: solid; width: 100%; border-width: 1px 1px 0; background: #FBFCFC; padding: 40px 54px 42px;padding-bottom: 10px;">
                      <tbody>
                        <tr style="border: 0 none; border-collapse: separate;">
                          <td style="border: 0 none; border-collapse: separate; vertical-align: middle;font-weight: 300; color: #1D2531; font-size: 25.45455px; text-align:center;text-transform: capitalize;"
                            valign="middle">JAM IMPORT HADE</td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;color:#455056; font-size:15px;line-height:24px; margin:0;padding-top:50px"
                            valign="middle"><p>Hi {{user}},</p></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;color:#455056; font-size:15px;line-height:24px; margin:0;padding-top:50px"
                            valign="middle"><p>We we're happy you sign up for Jam Import Hade. To start shopping in our store, please confirm your email address. </p></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                          <td  style="border: 0 none; border-collapse: separate; vertical-align: middle; padding-top: 38px;text-align:center" valign="middle">
                            <a href="{{confirm_url}}" target="_blank" style="color: #000000; -webkit-border-radius:20px; font-family:sans-serif;font-weight: 900; font-size: 13.63636px; display: inline-block; letter-spacing: .7px; text-decoration: none; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; background-color: #288BD5;color: #ffffff; padding: 15px 24px; ">VERIFY EMAIL</a></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;padding-top:20px;color:#455056; font-size:16px;line-height:24px; margin:0;font-weight: 500;"
                            valign="middle"><p>Welcome to the Jam Import Hade! </p></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;color:#455056; font-size:16px; margin:0;padding-top: 10px;"
                            valign="middle"><p>Jam Import Hade Team </p></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;padding-top:20px;color:#455056; font-size:11px;line-height:24px; margin:0;padding-top:50px;text-align:center"
                            valign="middle">This verification link will expire in 1 hour.</td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center; color:#455056; font-size:10px;margin:0;text-align:center;font-weight:bold"
                            valign="middle">Contact us at hilman191025@gmail.com</td>
                        </tr>
                      </tbody>
                    </table>
                    <p style="font-size: 10px;font-weight: bold;margin:5px ;"></p>
                    <h5 style="margin-top: 10px;">{{domain}}</h5>                    
                  </td>
                </tr>                
              </tbody>
            </table>
          </td>
        </tr>
       </tbody>
    </table>          
  </body>
  </html>