<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Change Jam Import Hade Password</title>
  </head>
  
  <body style="margin: 0; padding: 0; sans-serif;font-weight: 300; font-stretch: normal; font-size: 14px; letter-spacing: .35px; background: #EFF3F6; color: #333333;">
    <table border="1" cellpadding="0" cellspacing="0" align="center" style="border: 0 none; border-collapse: separate; width: 720px;margin-top:50px;" width="720">
      <tbody>
        <tr  style="border: 0 none; border-collapse: separate; -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.04); -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.04); box-shadow: 0 3px 5px rgba(0,0,0,0.04);">
          <td style="border: 0 none; border-collapse: separate; vertical-align: middle;" valign="middle">
            <table  cellpadding="0" cellspacing="0" style="border: 0 none; border-collapse: separate; width: 100%;" width="100%">
              <tbody>
                <tr class="c-pekv9n" style="border: 0 none; border-collapse: separate; text-align: center;">
                  <td style="border: 0 none; border-collapse: separate; vertical-align: middle;" valign="middle">
                    <table border="1" cellpadding="0" cellspacing="0" width="100%" style="border: 0 none; border-collapse: separate; border-color: #E3E3E3; border-style: solid; width: 100%; border-width: 1px 1px 0; background: #FBFCFC; padding: 40px 54px 42px;padding-bottom: 10px;">
                      <tbody>
                        <tr style="border: 0 none; border-collapse: separate;">
                          <td style="border: 0 none; border-collapse: separate; vertical-align: middle;font-weight: 300; color: #1D2531; font-size: 25.45455px; text-align:center;text-transform: capitalize;"
                            valign="middle">{{user}}</td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; color: #1D2531; font-size: 25.45455px; text-align:center;text-transform: capitalize;padding-top:20px;height: 100px;"
                            valign="middle">You have requested to reset your password</td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;padding-top:20px;color:#455056; font-size:15px;line-height:24px; margin:0;padding-top:50px"
                            valign="middle"><p>We cannot simply send you your old password. A unique link to reset your password has been generated for you. To reset your password, please tap the button below to choose a new password. </p></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                          <td  style="border: 0 none; border-collapse: separate; vertical-align: middle; padding-top: 38px;text-align:center" valign="middle">
                            <a href="{{change_password_url}}" target="_blank" style="color: #000000; -webkit-border-radius: 4px; font-family:sans-serif;font-weight: 500; font-size: 13.63636px; line-height: 15px; display: inline-block; letter-spacing: .7px; text-decoration: none; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: #288BD5;color: #ffffff; padding: 12px 24px; ">RESET PASSWORD</a></td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;padding-top:20px;color:#455056; font-size:11px;line-height:24px; margin:0;padding-top:50px;text-align:center"
                            valign="middle">If you didn’t ask to recover your password, please ignore this email.</td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center;color:#455056; font-size:11px;line-height:24px; margin:0;text-align:center"
                            valign="middle">This email will expire in 1 hour.</td>
                        </tr>
                        <tr style="border: 0 none; border-collapse: separate;">
                            <td style="border: 0 none; border-collapse: separate; vertical-align: middle; text-align:center; color:#455056; font-size:10px;margin:0;text-align:center;font-weight:bold"
                            valign="middle">Contact us at hilman191025@gmail.com</td>
                        </tr>
                      </tbody>
                    </table>
                    <p style="font-size: 10px;font-weight: bold;margin:5px ;"></p>
                    <h5 style="margin-top: 10px;">{{domain}}</h5>                    
                  </td>
                </tr>                
              </tbody>
            </table>
          </td>
        </tr>
       </tbody>
    </table>          
  </body>
  </html>